
<ng-container>
<div class="footer">

          <div class="insideFooter">

              <div class="gridOne">
                            <ul>
                                          <li>Explore</li>
                            <li><a routerLink="/">Services</a> </li>
                            <li>Stories</li>
                            <li>Applets</li>
                            <li>Help Center</li>
                            <li>Search</li></ul>
              </div>
              <div class="gridTwo">
                            <ul>
                                          <li>Top Integrations</li>
                            <li>Discord and Instagram</li>
                            <li>Stories</li>
                            <li>Google Calendar and Google Sheets</li>
                            <li>Facebook Pages and YouTube</li>
                            <li>Slack and Trello</li></ul>
              </div>
              <div class="gridThree">
                            <ul>
                                          <li>How to Share Google Calendar with</li>
                            <li>Shared Location Automations</li>
                            <li>Best Note Taking Apps</li>
                            <li>How to Use Calendly</li>
                            <li>Help Center</li>
                            <li>How to Use NFC Tags for Android & iPhone</li></ul>
              </div>
              <div class="flexDiv">
                            <a routerLink="">Shop</a>
                            <a routerLink="/contact">Contact</a>
                            <a routerLink="">Privacy</a>
                            <a routerLink="">About</a>
                           
                        </div>
          </div>    
         
</div>
</ng-container>