<!-- <div>
  <img src="download.jpg" alt="">
</div> -->
<nav>
              <div class="logo">
                <!-- <img src="" alt="">
                  -->
                <img src="e-commerce-logo-with-pointer-and-shopping-bag-free-vector-removebg-preview.png" alt="logo">
              </div>
              <div class="navList">
                <a routerLink="/">Deals</a>
                <a  [routerLink]="'contact'">Contact</a>
                <a [routerLink]="'product'">products</a>
              </div>
              <div class="sign">
                <a routerLink="/login">Account</a>
                <a routerLink="/cart">Cart</a>
               
              </div>
              </nav>
              <ng-container>
                <div class="containerOne">
                  
              <div class="banner">
              
              <h1>Exclusive Deals - Limited Time Offers</h1>
              <div class="contetMain">
              <div class="content">
                <div class="contentText">
                  <h3>Under ₹ 1,499</h3>
                  <h4>Budget Friendly Headphones</h4>
                  <button>Buy Now</button>
              
                  
                </div>
              <div class="contentImg">
                <img src="4-removebg-preview.png" alt="">
              </div>
              </div>
              </div>
              </div>
              </div>
              </ng-container>
              <app-product></app-product>
              <app-footer></app-footer>